h1{
    color: white;
    margin-left: 5rem;
    margin-top: 3rem;
    font-size: 4rem;
}

p{
    color: white;
    width: 30vw;
    margin-left: 5rem;
    font-size: xx-large;
    clear: both;
    margin-right: 10rem;
}

img{
    width: 30rem;
}

.item{
    display: flex;
}