*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* div.top-bar {
    width: 80%;
    height: 54px;
    background-color: black;
    z-index: 2;
} */

h1 {
    margin-top: 10rem;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}

p{
    text-align: center;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    margin-top: 1rem;
}

.logo-box {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.logo {
    height: 8rem;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(128, 0, 128, 0.733)), url(background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.nav-button{
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    height: 27px;
    width: 31px;
    display: flex;
    z-index: 3;
    cursor: pointer;
    transition: all .25s ease-in-out;
}
.nav-button_bar{
    content: '';
    position: absolute;
    width: 31px;
    height: 5px;
    background-color: white;
    border-radius: 8px;
    transition: all .25s ease-in-out;
    z-index: 3;

}
.nav-button_bar::before,
.nav-button_bar::after{
    content: '';
    position: absolute;
    width: 31px;
    height: 5px;
    background-color: white;
    border-radius: 8px;
    transition: all .25s ease-in-out;
}
.nav-button_bar::before{
    transform: translateY(-12px);
}
.nav-button_bar::after{
    transform: translateY(12px);
}

.nav-button.open .nav-button_bar{
    transform: translateX(-50px);
    background:transparent ;
    box-shadow: none;
}

.nav-button.open .nav-button_bar::before{
    transform: rotate(45deg) translate(35px, -35px);
    background-color: red;
}
.nav-button.open .nav-button_bar::after{
    transform: rotate(-45deg) translate(35px, 35px);
    background-color: red;

}

.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(155, 33, 192, 0.801);
    z-index: 2;
    width: 15vw;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
    /* hide navbar */
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.showNav {
    transform: translateX(0);
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
}

.nav-link {
    display: block;
    font-size: 2vw;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    color: black;
    justify-content: flex-start;
    text-decoration: none;
    margin-bottom: 10px;
    align-items: center;
}

.nav-link:hover {
    background-image: linear-gradient(to top, rgba(207, 21, 224, 0.712), rgba(255, 217, 0, 0.699));
    color: white;
}


.buttonWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
button {
    width: 200px;
    height: 50px;
    border-radius: 75px;
    background-image: linear-gradient(to top, rgba(207, 21, 224, 0.712), rgba(247, 216, 40, 0.699));
    font-size: large;
    color: black;
    outline: none;
    margin: 10rem auto;
}

.nav-logo-box {
    position: fixed;
    z-index: 2;
    margin-left: 31px;
    height: 54px;
    top: 0px;
}

.nav-logo {
    height: 54px;
}

.nav-logo-text {
    position: fixed;
    top: 0px;
    height: 54px;
}
