*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo-box {
    display: flex;
    width: 100%;
    justify-content: center;
}

.logo {
    height: 10rem;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(128, 0, 128, 0.733)), url(./background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    height: 27px;
    width: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    cursor: pointer;
}

.nav-button .bar {
    background-color: white;
    width: 100%;
    height: 5px;
    border-radius: 8px;
}

.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(155, 33, 192, 0.801);
    z-index: 2;
    width: 20%;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
    /* hide navbar */
    transform: translateX(-100%);
    transition: all 1s ease;
}

.showNav {
    transform: translateX(0);
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
}

.nav-link {
    display: block;
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-link:hover {
    background: rgba(218, 190, 32, 0.795);
    color: rgb(218, 33, 33);
}

.x::before,
.x::after {
    content: '';
    position: fixed;
    top: 1rem;
    left: 18vw;
    width: 5.6px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255, 217, 0);
    cursor: pointer;
    display: block;
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

button {
    width: 200px;
    height: 50px;
    border-radius: 75px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: gold;
    font-size: large;
    color: white;
}