*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* div.top-bar {
    width: 80%;
    height: 54px;
    background-color: black;
    z-index: 2;
} */

h1 {
    margin-top: 16rem;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.logo-box {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.logo {
    height: 8rem;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(128, 0, 128, 0.733)), url(./background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.nav-button {
    position: fixed;
    top: 1rem;
    left: 1rem;
    height: 27px;
    width: 31px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    cursor: pointer;
}

.nav-button .bar {
    background-color: white;
    width: 100%;
    height: 5px;
    border-radius: 8px;
}

.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(155, 33, 192, 0.801);
    z-index: 2;
    width: 20%;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
    /* hide navbar */
    transform: translateX(-100%);
    transition: all 1s ease;
}

.showNav {
    transform: translateX(0);
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
}

.nav-link {
    display: block;
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    color: black;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
}

.nav-link:hover {
    background: rgba(218, 190, 32, 0.795);
}

.x::before,
.x::after {
    content: '';
    position: fixed;
    top: 1rem;
    left: 18vw;
    width: 5.6px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255, 217, 0);
    cursor: pointer;
    display: block;
}

.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

button {
    width: 200px;
    height: 50px;
    border-radius: 75px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-image: linear-gradient(to top, rgba(207, 21, 224, 0.712), rgba(247, 216, 40, 0.699));
    font-size: large;
    color: black;
    outline: none;
    margin-top: 30px;
}

.nav-logo-box {
    position: fixed;
    z-index: 2;
    margin-left: 31px;
    height: 54px;
    top: 0px;
}

.nav-logo {
    height: 54px;
}

.nav-logo-text {
    position: fixed;
    top: 0px;
    height: 54px;
}