*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.719), rgba(128, 0, 128, 0.733)), url(./background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.nav-button{
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    height: 27px;
    width: 31px;
    display: flex;
    z-index: 3;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.nav-button_bar{
    content: '';
    position: absolute;
    width: 31px;
    height: 5px;
    background-color: white;
    border-radius: 8px;
    transition: all .5s ease-in-out;
    z-index: 3;

}
.nav-button_bar::before,
.nav-button_bar::after{
    content: '';
    position: absolute;
    width: 31px;
    height: 5px;
    background-color: white;
    border-radius: 8px;
    transition: all .5s ease-in-out;
}
.nav-button_bar::before{
    transform: translateY(-12px);
}
.nav-button_bar::after{
    transform: translateY(12px);
}

.nav-button.open .nav-button_bar{
    transform: translateX(-50px);
    background:transparent ;
    box-shadow: none;
}

.nav-button.open .nav-button_bar::before{
    transform: rotate(45deg) translate(35px, -35px);
    background-color: red;
}
.nav-button.open .nav-button_bar::after{
    transform: rotate(-45deg) translate(35px, 35px);
    background-color: red;

}

.navbar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(155, 33, 192, 0.801);
    z-index: 2;
    width: 20%;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);
    /* hide navbar */
    transform: translateX(-100%);
    transition: all 1s ease;
}

.showNav {
    transform: translateX(0);
}

.nav-items {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
}

.nav-link {
    display: block;
    font-size: 1.5rem;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: transform 1s ease;
    transition: background 0.5s;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
}

.nav-link:hover {
    background: rgba(218, 190, 32, 0.795);
}
.nav-link::visited{
    color: black;
}
a:visited{
    text-decoration: none;
}