body{
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23bb00ff'/%3E%3Cstop offset='1' stop-color='%23000000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23fff200' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23fff200' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.contan{
    height: 50%;
    width: 100%;
    /*display: flex;*/
    justify-content: space-evenly;
    align-items: center;
}

form.box{
    position: fixed;
    top: 20%;
    left: 35%;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-image: url(../media/MetalPurlpe.jpg);
    background-size: 600px;
    padding: 1rem;
    /*float: left;*/
    margin: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
}

.nav-button_bar{
    text-align: left;
}

input,
select{
    width: 60%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-color: rgb(236, 27, 37);
    margin-bottom: 1.5rem;
    background-color: transparent;
    color: black;
    outline: none;
}

.cvv-details{
    font-size: 15px;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    outline: none;
    background-image: linear-gradient(to right, rgba(211, 19, 211, 0.74), rgba(163, 39, 163, 0.774));
    display: block;
    margin: auto;
    top: 85%;
    left: 35%;
}

button a{
    color: black;
    text-decoration: none;
}

input:focus {
    padding-bottom: 5px;
    transition: all .3s ease-out;
}

::placeholder,select{
    color: rgb(255, 255, 255);
}
option{
    color: black;
}

input{
    color: white;
}