

/*~~~~~~~~~~~~~default~~~~~~~~~~~~~~~*/




button{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    
    padding: 1rem;
    float: left;
    margin: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;

}
button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

button.copper{
    background-image: url(../media/copper\ color.jpg);
}
button.silver{
    background-image: url(../media/silver\ color.jpg);
}
button.gold{
    background-image: url(../media/download.jpg);
}

.contan{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contan2{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}

.box{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-image: url(../media/MetalPurlpe.jpg);
    background-size: 500px;
    padding: 1rem;
    float: left;
    margin: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}