

/*~~~~~~~~~~~~~default~~~~~~~~~~~~~~~*/

body{
    background-color: #1e0031;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.726), rgba(0, 0, 0, 0.699)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.72'%3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%2337005d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%233c0064' cx='50' cy='100' r='50'/%3E%3Cg fill='%2340006c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23450074' cx='50' cy='200' r='50'/%3E%3Cg fill='%2349007c' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%234e0084' cx='50' cy='300' r='50'/%3E%3Cg fill='%2353008d' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23570095' cx='50' cy='400' r='50'/%3E%3Cg fill='%235c009d' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%236100a6' cx='50' cy='500' r='50'/%3E%3Cg fill='%236600ae' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%236b00b7' cx='50' cy='600' r='50'/%3E%3Cg fill='%237000c0' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%237500c9' cx='50' cy='700' r='50'/%3E%3Cg fill='%237a00d2' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%237f00db' cx='50' cy='800' r='50'/%3E%3Cg fill='%238400e4' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%238900ed' cx='50' cy='900' r='50'/%3E%3Cg fill='%238e00f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%239300ff' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


button{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    
    padding: 1rem;
    float: left;
    margin: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;

}
button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

button.copper{
    background-image: url(../media/copper\ color.jpg);
}
button.silver{
    background-image: url(../media/silver\ color.jpg);
}
button.gold{
    background-image: url(../media/download.jpg);
}

.contan{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contan2{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    text-align: center;
}

.box{
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-image: url(../media/MetalPurlpe.jpg);
    background-size: 500px;
    padding: 1rem;
    float: left;
    margin: 10px 10px 10px 10px;
    text-align: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
}