*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body, html {
    height: 100%;
    background-color: #330055;
    background-image: none;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body:not(section.exclude){
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 3;
    grid-template-columns: auto;
    scroll-behavior: smooth;
}

div.xtraNav{
    z-index: 2;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    right: 50%;
    left: 50%;
    margin: 10px;
    color: goldenrod;
    
    
}

div.xtraNav a {
    text-decoration: none;
    color:goldenrod;
}
div.xtraNav a :hover{
    text-decoration: none;
    animation-name: shift;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
@keyframes shift{
    from{ font-size:1.17rem; color: goldenrod;}
    to{ font-size: 1.18rem;color: gold;}
}

div.xtraNav a :visited{
    text-decoration: none;
    color: initial;
}
section.fixed{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 1;
}


header{
    position: fixed;
    display: grid;
    grid-template-rows: 100px 150px 100px;
    grid-template-columns: 20vh 80vh 20vh;
    z-index: 1;
    font-family: Overpass;
    align-content: center;
    justify-content: center;
    scroll-behavior: smooth;
}

header.about p.after{
    grid-row: 2;
    grid-column: 3;
    content: url(../media/logo7v3.png);
    height: 150px;
    z-index: 1;
}
header.about p.before{
    grid-row: 2;
    grid-column: 1;
    content: url(../media/logo7v3.png);
    height: 150px;
    z-index: 1;
}
header.about p.after:active{
    content: url(../media/logo7v3closed.png);
}
header.about p.before:active{
    content: url(../media/logo7v3closed.png);
}

header.about h1{
    color: goldenrod;
    -webkit-text-stroke: black 1px;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 5.5rem;
    font-family: Overpass;
    grid-row: 2;
    grid-column: 2;
    align-items: center;
    margin: auto;
    z-index: 1;
}

content{
    z-index: 2;
    background-color: #330055;
    scroll-behavior: smooth;
    position: absolute;

}

content p{
    padding: 25px;
    background: black;
    color: whitesmoke;
    font-size: 1.5em;
    line-height: 45px;
    margin-left: 15vh;
    margin-right: 15vh;
    border-radius: 15px;
    border: goldenrod 2px solid;
    font-family: overpass;
    font-weight: normal;
    line-height: 2em;
    text-indent: 50px;
    
}
