body{
    overflow: hidden;
}

main{
    display: grid;
    justify-content: space-evenly;
    grid-template-rows: repeat(2, 15rem);
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 2rem;
}

.item img{
    width: 10rem;   
}

.item p{
    width: 7.5rem;
    color: white;
    text-align: center;
}

h1{
    color: white;
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 3rem;
}
