body{
    overflow: hidden;
}


main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}

.item{
    margin: 1rem 5rem;
}

.item img{
    width: 10rem;   
}

.item p.description{
    color: white;
    text-align: center;
}

.greeting{
    color: white;
    font-size: 4rem;
    text-align: center; 
    margin-top: 3rem;
}


a{
    text-decoration: none;
}
